---
export function getStaticPaths() {
  return [
    {params: {tag: 'astro'}},
    {params: {tag: 'javascript'}}
  ]
}

const { tag } = Astro.params
const allPosts = await Astro.glob('../blog/*.md')
const filteredPosts = allPosts.filter((post) => post.frontmatter.title.includes(tag))
---

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>タグ：{tag}のブログ一覧</title>
</head>
<body>
	<h1>ナビゲーション</h1>
  <ul>
    {filteredPosts.map((post) => (
      <li><a href={post.url}>{post.frontmatter.title}</a></li>
    ))}
  </ul>
</body>
</html>
