---
import Alert from '../components/Alert.astro'
// import '../css/style.css'
const color = 'yellow'
const nav = [
	{
		href: 'about',
		label: '会社情報'
	},
	{
		href: 'contact',
		label: 'お問い合わせ'
	},
]
---

<html>
	<meta charset="UTF-8">
	<Alert />
	<h1 class="alert">aaaaa</h1>
	<!-- <ul>
		{nav.map((nav) => (
			<li><a href={nav.href}>{nav.label}</a></li>
		))}
	</ul> -->
</html>

<style define:vars={{ color }}>
	h1 {
		color: green;
	}
	body {
		color: var(--color);
	}
</style>